<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template parametros</title>
</head>

<body>
    <h1>Nombre: {{ nombre }} </h1>
    <h2>Fecha actual: {{ fechaActual }} </h2>
    <h3>Lenguajes: </h3>
    <ul>
    {% for leng in lenguajes %}
        {% if leng == "python" %}
        <li style="color: yellow;">{{ leng }}</li>
        {% else %}
        <li>{{ leng|lower }} : {{ leng|upper }}</li>
        {% endif %}
    {% endfor %}
    </ul>

</body>

</html>